@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Playwrite DE Grund, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 232, 232);
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  border-radius: 15px 15px 0 0; /* Match the card's border radius */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  height: 50px; /* Fixed height for text */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}


.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.text-left {
  text-align: left !important;
}
